body {
  margin:0;
  padding:0;
  width:100%;
}

button {
  all: unset;
}

a {
  text-decoration: none;
  color: inherit;
}

/* These are css things i am going to call again and again */

.Center {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  /* align-items: center; */
}

.TextCenter{
  text-align: center;
}

/* This is the start of the CSS edits. It should align with how the home page is aligned, Different sections will be commented off for different pages (home page, menu etc...) */
/* Home Page Start */

/* keeping it in order, nav bar start */

.navbar {
  display: flex;
  justify-content: space-around;
  align-items: center;
  animation: slideInFromTop 1s ease-in-out;
  color: #99C2A2
}


/* highlight on navbar*/
.navbar .center-nav a {
  color: black;
  margin-left: 15px;
  font-size:2rem;
  transition: all 0.5s ease;
  animation: fadeInUp 1s ease-in-out;
}


.navbar .center-nav a:hover {
  color: #5D4E6D;
  text-shadow: 0px 0px 30px #5D4E6D;
}


/* underline on nav bar*/
.navbar .center-nav a{
  position: relative;
  text-decoration:none;
}


.navbar .center-nav a::before{
content: "";
position: absolute;
width: 100%;
height: 2px;
bottom: 0;
left: 0;
background-color: #5D4E6D;
visibility: hidden;
transform: scaleX(0);
transition: all 0.3s ease-in-out;
}


.navbar .center-nav a:hover::before{
  visibility: visible;
  transform: scaleX(1)
;}


/* This is the Main Picture of the website otherwise known as the "Call to Action" or the hook or even the attention grabber. Its supposed to suck you into the website. For this website it is just the main picture */



.CallToAction {
  background-color: #99C2A2;
  width: 100%;
  height: 60ch;
  float: left;
  
}

.CTAh1 h1{
  font-weight: bold;
  font-size: 4rem;
  font-family: sans-serif;
  margin-bottom: 0;
  margin-top: 90px;
  width: 50%;
  height: 50%;
  /* overflow: hidden; */
  text-align: center;
}

.CTAh1 p{
  width:25%;
  height: 25%;
  padding-left: 2%;
  overflow: hidden;
  text-align: center;
  margin-bottom: 40px;
}

.CTAh1 .btn {
  color: black;
  border: 2px solid;
  position: sticky;
  top: 3rem;
  padding-left: 25px;
  padding-right: 25px;
  padding-top: 14px;
  padding-bottom: 14px;
  border-radius: 6px;
  transition: all 0.5s ease;
  margin-left: 110px;
  animation: fadeInUp 1s ease-in-out 0.5 backwards;

}


.CTAh1 .btn:hover {
  background-color: #5D4E6D;
  box-shadow: 0 0 10px #5D4E6D;
}


/* .CTAText {
  padding-top: 25px;
  width: 30%;
  height: 45ch;
  float: left;
  align-items: center;
} */

.Leaf {
  width: 70%;
  height: 65ch;
  float: right;
}

/* This is the "Order Now!" Section, It may be deleted later if its not used. */

/* .OrderBlurb {
  background-color: red;
  width: 100%;
  height: 8ch;
  float: left;
} */

/* This is the start of the featured Items section, showcasing our 5 (# may change later) featured menu items */

.FeaturedItemsHome {
  background-color: #004643;
  width: 100%;
  height: 60vh;
  float: left
}

.FIHeader {
  text-align: center;
}

.FeaturedBlock {
  background-color: #99C2A2;
  width: 15%;
  height: 45vh;
  float: left;
  /* margin: auto; */
  padding: 3vh 5vh;
  background-clip: content-box;
  /* overflow: hidden; */
}


.FBlockImg {
  width: 100%;
  height: 28vh;
  float: left;
  object-fit: cover;
  border: 2px solid white;
  transition: transform 0.3s ease;
}

.FeaturedBlock img:hover {
  transform: scale(1.1);
  box-shadow: 0 0 50px #FFC4D1;
}


/* This is the start of our "Register Now" section */

.RegisterHome {
  background-color: #99C2A2;
  width: 100%;
  height: 70vh;
  float: left;
}

.RegisterBox {
  background-color: #efaac4;
  width: 24%;
  height: 50vh;
  margin-top: 9.5vh;
  background-clip: content-box;
  border-radius: 25px;
}

.RBoxH1 {
  text-align: center;
}

.RegisterBox p {
  text-align: center;
}

.RNow {
  width: 30%;
  height: 13%;
  border-radius: 70px;
  background-color: #99C2A2;
  margin: auto;
  margin-top: 45%;
  transition: all 0.5s ease;
  animation: fadeInUp 1s ease-in-out 0.5 backwards;
}

.RegisterBox .RNow:hover {
  background-color: #5D4E6D;
  box-shadow: 0 0 10px #5D4E6D;
}

.RNowText {
  text-align: center;
  padding-top: 15%;
  
}

/* This is the start of the "Whats New" section */

.WhatsNewHome {
  background-color: #004643;
  width: 100%;
  height: 60vh;
  float: right;
}


.WhatsNewHome h1{
text-align: center;
color: white;
font-weight: bold;
font-size: 4rem;
}

.WhatsNewHome p{
  text-align: center;
  font-weight: bold;
  font-size: 2rem;
}

/* This is of course the very last part of our website, although very important it is the footer. */

footer {
  background-color: grey;
  width: 100%;
  height: 30vh;
  float: left;
}


/* MENU SECTION */
.menu {
  align-items: center;
  background-color: #004643;

}

.menu h1{
  text-align: center;
  font-weight: bold;
  font-size: 4rem;
}

.breakfast{
  background-color: #99C2A2;
  font-weight: bold;
  font-size: 4rem;
}

.breakfast h2{
  text-align: center;
  font-weight: bold;
  font-size: 4rem;
}

.breakfast li{
  text-align: center;
  font-weight: bold;
  font-size: 2rem;
}

.lunch h3 {
  text-align: center;
  font-weight: bold;
  font-size: 4rem;
}

.lunch li{
  font-weight: bold;
  font-size: 2rem;
}

.drinks {
  background-color: #99C2A2;
}

.drinks h4{
  text-align: center;
  font-weight: bold;
  font-size: 4rem;
}
